body {
    margin: 0;
    background-color: #1B244A;
    text-align: center;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    font-size: 36px;
    margin-bottom: 16px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 120px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 50px;
    background-color: #080001;
    color: #F94F6D;
    margin-bottom: 24px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.score-button {
    background-color: #1B244A;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border: 2px solid #9AABD8;
    border-radius: 4px;
    color: #9AABD8;
    padding: 8px;
}